.menu{
    background-color: #B0E0E6;
    padding: 3px;
    height: 50px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

#esquerda{
    display: inline-block;
    width: 80%;
    float: left;
    padding-left: 10px;
}

#direita{
    display: inline-block;
    width: 20%;
    float:right;
    padding-top: 3px;
    padding-right: 10px;
    text-align: right;
}

.conteudo{
    text-align: center;
    min-height: 768px;
}

.rodape{
    background-color: #B0E0E6;
    padding: 10px;
    text-align: center;
    position: absolute;
    width: 100%;
}

.rdp{
    padding: 10px;
}

.mr-3{
    width: 13%;
    padding: 15px;
}

.media-body{
    background-color: #dadadaf6;
    padding: 15px;
}

a:link {
    color: #00F;
    text-decoration: none;
    border-radius: 5px;
}
   
a:hover {
    color: #00F;
    background-color: #dadadaf6;
}

h3{
    text-align: left;
}

.certificados{
    display: flex;
    grid-gap: 5px 8px;
}

.contato{
    text-align: justify;
}

.projetos{
    display: flex;
    grid-gap: 5px 8px;
}